@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.container {
    height: 100vh;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    max-width: 90vw;
    margin: auto;
}

.heading {
    font-weight: bold;
}

button {
    background-color: #8f218f;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

button:hover {
    background-color: purple;
}

header {


    text-align: center;


    color: white;
    text-decoration: underline;
}
